
1.. CREATE TABLE

Prompt: Create a table for Departments.
Explanation: Defines a new table schema with columns and constraints.

In [ ]:
CREATE TABLE Departments (
    DepartmentID INT PRIMARY KEY,
    DepartmentName VARCHAR(50)
);

2. Select all columns from a table

Prompt: Retrieve all data from the Employees table.

Explanation: * selects every column. Useful for initial exploration.

In [1]:
SELECT *
FROM Employees;

SyntaxError: invalid syntax (ipython-input-1640479347.py, line 1)

3. Select specific columns

Prompt: Get only FirstName and LastName from Employees.

Explanation: Only chosen columns are returned, avoiding unnecessary data.

In [ ]:
SELECT FirstName, LastName
FROM Employees;

4. Filtering with WHERE

Prompt: Find employees who work in the "HR" department.
Explanation: WHERE filters rows based on conditions.

In [ ]:
SELECT *
FROM Employees
WHERE Department = 'HR';

5. Sorting results

Prompt: Show employees ordered by salary (highest first).
Explanation: ORDER BY sorts results; DESC = descending.

In [ ]:
SELECT *
FROM Employees
ORDER BY Salary DESC;


6. Using DISTINCT

Prompt: List unique departments.

Explanation: Removes duplicates, giving only unique values.

In [ ]:
SELECT DISTINCT Department
FROM Employees;

7. COUNT aggregate function

Prompt: Count how many employees work in "IT".

Explanation: COUNT counts rows matching the condition.

In [ ]:
SELECT COUNT(*) AS IT_Employees
FROM Employees
WHERE Department = 'IT';

8. GROUP BY

Prompt: Show the number of employees in each department.
Explanation: Groups rows by Department and applies COUNT.

In [ ]:

SELECT Department, COUNT(*) AS EmployeeCount
FROM Employees
GROUP BY Department;

9. AVG function

Prompt: Find the average salary of employees.
Explanation: AVG calculates the mean of numeric values.

In [ ]:
SELECT AVG(Salary) AS AvgSalary
FROM Employees;

10. MAX and MIN

Prompt: Get the highest and lowest salary.
Explanation: MAX and MIN return the extremes.

In [ ]:
SELECT MAX(Salary) AS MaxSalary, MIN(Salary) AS MinSalary
FROM Employees;

11. BETWEEN operator

Prompt: Find employees with salary between 40,000 and 60,000.
Explanation: BETWEEN checks inclusive ranges.

In [ ]:
SELECT *
FROM Employees
WHERE Salary BETWEEN 40000 AND 60000;

12. LIKE with wildcards

Prompt: Find employees whose name starts with "A".
Explanation: % matches any characters after "A".

In [ ]:
SELECT *
FROM Employees
WHERE FirstName LIKE 'A%';

13. IN operator

Prompt: Find employees in "IT" or "Finance".
Explanation: IN is cleaner than multiple OR conditions.

In [ ]:

SELECT *
FROM Employees
WHERE Department IN ('IT', 'Finance');

14. JOIN two tables

Prompt: Show employees with their department names (from another table Departments).
Explanation: JOIN combines rows across tables based on a condition.

In [ ]:

SELECT E.FirstName, E.LastName, D.DepartmentName
FROM Employees E
JOIN Departments D
ON E.DepartmentID = D.DepartmentID;

15. LEFT JOIN

Prompt: List all employees and their department (even if not assigned
Explanation: LEFT JOIN keeps all employees, even if no match in Departments

In [ ]:
SELECT E.FirstName, E.LastName, D.DepartmentName
FROM Employees E
LEFT JOIN Departments D
ON E.DepartmentID = D.DepartmentID;

16. Subquery

Prompt: Find employees earning more than the average salary.
Explanation: The subquery calculates the average; main query compares against it.

In [ ]:
SELECT *
FROM Employees
WHERE Salary > (SELECT AVG(Salary) FROM Employees);

17.UNION
Prompt: Get all unique employee names and manager names.
Explanation: UNION combines results, removing duplicates.

In [ ]:
SELECT FirstName FROM Employees
UNION
SELECT ManagerName FROM Managers;

18. UPDATE

Prompt: Increase salary of IT employees by 10%.

Explanation: UPDATE modifies existing records

In [ ]:
UPDATE Employees
SET Salary = Salary * 1.10
WHERE Department = 'IT';

19. DELETE

Prompt: Remove employees who left the company.
Explanation: DELETE removes rows matching the condition.

In [ ]:
DELETE FROM Employees
WHERE Status = 'Resigned';